<%-include("./h2.ejs")%>



<section id="dashboard" class="py-5 bg-light">
    <div class="container">
      <h2 class="text-center mb-5">welcome BMI Room1 </h2>
      <h2 class="text-center mb-5">Connected Devices </h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="card border-0 rounded-0 shadow-sm mt-5">
            <img src="l.jpeg" class="card-img-top rounded-0" alt="Lighting">
            <div class="card-body">
              <h3 class="card-title text-center mb-3">Lighting</h3>
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Room 1
                  <span class="badge bg-success">On</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Room 2
                  <span class="badge bg-danger">Off</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Room 3
                  <span class="badge bg-success">On</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Room 4
                  <span class="badge bg-success">On</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card border-0 rounded-0 shadow-sm mt-5">
            <img src="water.jpeg" class="card-img-top rounded-0" alt="Water">
            <div class="card-body">
              <h3 class="card-title text-center mb-3">Water</h3>
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Sink
                  <span class="badge bg-success">On</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Shower
                  <span class="badge bg-danger">Off</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Bath
                  <span class="badge bg-success">On</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        
        
        
        
        <div class="col-lg-4">
          <div class="card border-0 rounded-0 shadow-sm mt-5">
            <img src="curtains.jpeg" class="card-img-top rounded-0" alt="Lighting">
            <div class="card-body">
              <h3 class="card-title text-center mb-3">Smart Curtains</h3>
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  curtain 1
                  <span class="badge bg-success">On</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  curtain 2
                  <span class="badge bg-danger">Off</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  curtain 3
                  <span class="badge bg-success">On</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  curtain 4
                  <span class="badge bg-success">On</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        
        
        
        
        
  
        
      <div class="col-lg-4">
          <div class="card border-0 rounded-0 shadow-sm mt-5">
            <img src="devices.jpeg" class="card-img-top rounded-0" alt="Lighting">
            <div class="card-body">
              <h3 class="card-title text-center mb-3">Devices</h3>
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Smart tv 01
                  <span class="badge bg-success">On</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Smart tv 02
                  <span class="badge bg-danger">Off</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                 Smart tv 03
                  <span class="badge bg-success">On</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Smart Fridge 1
                  <span class="badge bg-success">On</span>
                </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center">
                 Smart Thermostat 
                  <span class="badge bg-success">On</span>
                </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center">
                 Smart Ac
                  <span class="badge bg-success">On</span>
                </li>
              </ul>
            </div>
          </div>
        </div> 
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
      </div>
    </div>
  </section>
  
   



<%-include("./f2.ejs")%>